li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3e3c3c;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 0;
}

.nav-links {
  font-size: 1.25rem;
  font-weight: 400;
  color: white;
}

.nav-links:hover {
  color: dodgerblue;
}

.nav-logo {
  font-size: 1.875rem;
  font-weight: 500;
  color: white;
  margin-left: 12.5rem;
}

@media (max-width: 768px) {
  .navbar {
    background: #3e3c3c;
    width: 30.8125rem;
  }

  .nav-links {
    padding-right: 18.75rem;
    font-size: 2rem;
    color: #fff5e1;
    font-weight: 700;
  }

  .nav-logo {
    font-size: 1.875rem;
    font-weight: 500;
    color: white;
    margin-left: 1.5rem;
  }

  hr {
    width: 28.125rem;
    border-top: 0px solid gray;
    margin-right: 1.25rem;
  }

  .nav-menu {
    position: fixed;
    left: -1100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    margin-left: 20px;
    background-color: #3c3a39;
  }

  .email-icon {
    display: none;
  }

  .nav-menu.active {
    left: 0;
    padding-left: 0.75rem;
    height: 43.75rem;
    width: 469px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .nav-item {
    margin-top: 20px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-right: 1.5rem;
    color: red;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  span {
    color: #ff6b00;
  }

  .nav-logo.active {
    color: #252f8914;
  }

  .home-container-item.active {
    display: none;
  }

  h2 {
    color: black;
    padding-left: 1.125rem;
  }

  .about-t {
    margin-left: -20px;
  }

  .port {
    margin-right: -1.875rem;
  }

  .home-container {
    display: flex;
    padding-top: 7.5rem;
    background-color: #3c3a39;
    flex-direction: column;
    background-image: url(image/Group.svg);
    background-repeat: no-repeat;
    background-position: right bottom 5%;
    height: 36.875rem;
    width: 30.8125rem;
  }

  .greeting {
    font-size: 3.5rem;
    color: #ff6b00;
    line-height: 4rem;
    margin-left: 2.5rem;
    font-family: “Crete Round”, sans-serif;
  }

  .job {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff5e1;
    line-height: 2rem;
    margin-left: 2.5rem;
    padding: 0;
    margin-bottom: 0.375rem;
    margin-top: 0.375rem;
  }

  .about-me {
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    margin-left: 2.5rem;
  }

  .social-link-list {
    display: flex;
    padding: 0;
    margin-top: 1.375rem;
    list-style-type: none;
    margin-left: 3.125rem;
  }

  .social-link-item {
    margin-right: 0.75rem;
  }

  .react-work {
    display: grid;
    grid-template-rows: 20% 38% 7% 17% 8%;
    align-content: center;
    height: 62.5rem;
  }

  .react-work-desktop {
    display: none;
  }

  .button1 {
    height: 3rem;
    width: 7.75rem;
    margin-left: 4.0625rem;
    color: white;
    background-color: #ff6b00;
    border: none;
  }

  .title-text {
    height: 6.6875rem;
    width: 20.4375rem;
    left: 1.5rem;
    top: 7.5rem;
    margin-top: 7.5rem;
    margin-left: 4.0625rem;
    margin-right: 1.5rem;
  }

  .work {
    height: 14.8125rem;
    width: 20.4375rem;
    left: 1.5rem;
    top: 0;
    margin-top: 7.5rem;
    margin-left: 4.0625rem;
    margin-right: 1.5rem;
  }

  .multi {
    margin-left: 4.0625rem;
    margin-top: 2.1875rem;
  }

  .pharagraph {
    margin-left: 4.0625rem;
    margin-right: 1.5rem;
    margin-top: 1.25rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    width: 327px;
    height: 147px;
    left: 0;
    top: 48px;
  }

  .work-choise {
    display: grid;
    grid-template-columns: 17% 17% 26% 17%;
    list-style-type: none;
    gap: 1px;
    padding-top: 0.375rem;
    padding-bottom: 0;
    margin-left: 1.625rem;
  }

  .wrapper {
    display: grid;
    grid-template-rows: 25% 25% 25% 25% 25%;
    margin-top: 0.3125rem;
    border-radius: 1.875rem;
  }

  .wrapper-desktop {
    display: none;
  }

  .profesional-react1 {
    height: 26.875rem;
    display: flex;
    flex-direction: column;
    background-image: url(image/Placeholder.svg);
    background-repeat: no-repeat;
    width: 20.4375rem;
    margin-left: 4.0625rem;
    margin-top: 1.25rem;
  }

  .prof1 {
    height: 5.0625rem;
    width: 18.4375rem;
    left: 1rem;
    top: 0.5rem;
    margin-top: 5.25rem;
  }

  .text1 {
    margin-top: 0.9375rem;
    margin-left: 2.4375rem;
    padding-right: 1.125rem;
    color: white;
    font-family: “Inter”, "Lucida Sans", sans-serif;
    font-weight: 400;
    font-size: 1.1875rem;
    font-style: normal;
    margin-bottom: 0.75rem;
  }

  .project-type {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 2.5rem;
    width: 14.75rem;
    left: 1rem;
    top: 12.5rem;
    border-radius: 0;
  }

  .html-opacity {
    opacity: 0.4;
  }

  .projects-button {
    height: 3rem;
    width: 20.4375rem;
    left: 0;
    top: 0;
    border-radius: 0;
    color: white;
    background-color: #ff6b00;
    border: none;
  }

  .aboutme-contener {
    background-color: #262626;
    height: 2000px;
    margin-top: 0.9375rem;
    background-image: url(image/com-image.svg);
    background-position: right bottom 82.5%;
    background-repeat: no-repeat;
    border-left: 3.75rem;
    width: 29.75rem;
  }

  .aboutme-img {
    margin-top: 7.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .text-aboutme {
    margin-top: 1.5rem;
    color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: ‘Inter’, "Lucida Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .resume-button {
    height: 3rem;
    padding-left: 0.625rem;
    width: 10.0625rem;
    border: none;
    margin-left: 2.25rem;
    background-color: #ff6b00;
    color: white;
    text-align: center;
    font-family: “Inter”, "Lucida Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }

  .line-image {
    margin-top: 13.6875rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .line-image2 {
    display: none;
  }

  .language {
    display: inline-flex;
    margin-top: 8.5rem;
    margin-left: 2.25rem;
  }

  .language > img {
    margin: 0.375rem;
  }

  .languge-list > li {
    color: white;
    margin-top: 2rem;
    list-style-type: none;
    font-size: 1.375rem;
    font-family: ‘Inter’, "Lucida Sans", sans-serif;
    font-style: normal;
    line-height: 2.6875rem;
  }

  .languge-list-item1 {
    margin-left: 3.75rem;
  }

  .languge-list-item2 {
    margin-left: 4.5625rem;
  }

  .languge-list-item3 {
    margin-left: 4.5rem;
  }

  .languge-list-item4 {
    margin-left: 4.75rem;
  }

  .frameworks {
    display: inline-flex;
    margin-top: 2.75rem;
    margin-left: 2.25rem;
  }

  .frameworks > img {
    margin: 0.375rem;
  }

  .frameworks-list > li {
    color: white;
    margin-top: 2rem;
    list-style-type: none;
    font-size: 1.375rem;
    font-family: “Inter”, "Lucida Sans", sans-serif;
  }

  .frameworks-list-item1 {
    margin-left: 4.375rem;
  }

  .frameworks-list-item2 {
    margin-left: 3.625rem;
  }

  .frameworks-list-item3 {
    margin-left: 4.5625rem;
  }

  .frameworks-list-item4 {
    margin-left: 4.375rem;
  }

  .frameworks-list-item5 {
    margin-left: 4.375rem;
  }

  .skill {
    display: inline-flex;
    margin-top: 2.75rem;
    margin-left: 4.75rem;
  }

  .skill > img {
    margin: 0.375rem;
  }

  .skill-list > li {
    color: white;
    margin-top: 2rem;
    list-style-type: none;
    font-size: 1.375rem;
    font-family: “Inter”, sans-serif;
  }

  .skill-list-item1 {
    margin-left: 4.9375rem;
  }

  .skill-list-item2 {
    margin-left: 5.0625rem;
  }

  .skill-list-item3 {
    margin-left: 4.8125rem;
  }

  .skill-list-item4 {
    margin-left: 5.0625rem;
  }

  .skill-list-item5 {
    margin-left: 76px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    justify-content: center;
  }

  textarea {
    background: #fbf8f7;
  }

  .image-form {
    align-content: center;
    justify-content: center;
    width: 400px;
    margin-left: 24px;
  }

  .form-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 450px;
  }

  .form-list > li {
    margin-top: 25px;
  }

  input {
    border: 0;
    outline: none;
  }

  .submit-button {
    color: white;
    background-color: #ff6b00;
    height: 48px;
    border: none;
    width: 131px;
    margin-bottom: 45px;
    margin-left: 130px;
  }

  .social-form {
    display: flex;
    list-style-type: none;
    color: #505f79;
    margin-left: 60px;
  }

  .social-form > li {
    margin: 10px;
  }

  .footer-line-desktop {
    display: none;
  }
}

/* Desktop */

@media only screen and (min-width: 776px) {
  hr {
    display: none;
  }

  .home-container {
    background-color: #262626;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    background-image: url("image/biggroup.png");
    background-position: right 0% top 0%;
    background-repeat: no-repeat;
    background-size: 31.25rem;
    height: 49.875rem;
  }

  .home-container-item {
    display: flex;
    flex-direction: column;
  }

  .greeting {
    color: #ff6b00;
    font-family: “Crete Round”, sans-serif;
    position: static;
    width: 566px;
    height: 160px;
    left: 0;
    top: 12rem;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 5.125rem;
    margin-left: 8.9375rem;
  }

  .job {
    font-size: 2rem;
    font-weight: 700;
    color: #fff5e1;
    width: 35.375rem;
    height: 1.5rem;
    top: 23.5rem;
    margin-left: 8.9375rem;
    font-family: "Inter", sans-serif;
  }

  .about-me {
    position: static;
    width: 35.375rem;
    height: 7.6875rem;
    left: 0;
    top: 26.5rem;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #f4f5f7;
    margin-left: 8.9375rem;
  }

  .social-link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
  }

  .social-link-item {
    margin-bottom: 10px;
  }

  .react-work {
    display: none;
  }

  .react-work-desktop {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0.8125rem 8.9375rem 8.125rem;
    height: 90rem;
    background-image: url("image/react-desktop.png");
    background-repeat: no-repeat;
    background-size: 52% 28rem;
    background-position: 0% 13%;
  }

  .home-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-image: url("image/line-disctop.png");
    background-size: 65% 1.5%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }

  .text-title {
    position: static;
    width: 19.6875rem;
    height: 3.25rem;
    left: 0;
    top: 0;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.25rem;
    align-items: center;
    color: #091e42;
    padding-right: 0.3125rem;
  }

  .title-line {
    position: static;
    height: 0.0625rem;
    left: 21.1875rem;
    width: 48.125rem;
    align-items: center;
    display: none;
  }

  .stories {
    height: 28rem;
    margin-left: 34.375rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .multi-desktop {
    height: 3rem;
    width: 28rem;
    left: 0;
    top: 0;
    margin-left: 3.125rem;
  }

  .pharagraph-desktop {
    height: 8.75rem;
    width: 28rem;
    margin-left: 3.125rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .work-choise-desktop {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
  }

  .choise-d {
    margin-left: 0.625rem;
    color: #091e42;
  }

  .button1-d {
    margin-left: 3.125rem;
    height: 3rem;
    width: 7.75rem;
    color: white;
    background-color: #ff6b00;
    border: none;
  }

  .wrapper {
    display: none;
  }

  .profesional-react1 {
    display: none;
  }

  .wrapper-desktop {
    display: grid;
    grid-template-columns: repeat(3, 23.0625rem);
    margin-top: 9.375rem;
    grid-row-gap: 1.875rem;
  }

  .pro-work1 {
    background-image: url("image/pro1.png");
    height: 27.1875rem;
    width: 22rem;
    background-color: black;
  }

  .projects-button-desktop {
    background-color: #ff6b00;
    width: 22rem;
    height: 3.625rem;
    margin-top: 23.5625rem;
    border: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .pro-work2 {
    background-image: url("image/pro2.png");
    height: 27.1875rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
  }

  .dashboard {
    position: static;
    width: 21.0625rem;
    height: 5.0625rem;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.75rem;
    color: white;
    margin-top: 50%;
    margin-left: 0.8125rem;
  }

  .dashboard-pharagraph {
    position: static;
    width: 20.625rem;
    height: 4.5rem;
    margin-left: 0.8125rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.05rem;
    line-height: 1.5rem;
    color: white;
    margin-top: 0;
  }

  .dashboard-list {
    list-style-type: none;
    display: flex;
    margin-top: 0;
    opacity: 1;
    margin-left: -1.6875rem;
  }

  .dashbord-list-item {
    margin-right: 0.625rem;
  }

  .pro-work3 {
    background-image: url("image/pro3.png");
    height: 27.1875rem;
    width: 22rem;
  }

  .website-portfolio {
    position: static;
    width: 21.0625rem;
    height: 5.0625rem;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.75rem;
    color: white;
    margin-top: 58%;
    margin-left: 0.8125rem;
  }

  .website-portfolio-pharagraph {
    color: white;
    position: static;
    width: 20.625rem;
    height: 4.5rem;
    margin-left: 0.8125rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.05rem;
    line-height: 1.5rem;
    margin-top: -1.75rem;
  }

  .pro-work4 {
    background-image: url("image/pro11.png");
    height: 27.1875rem;
    width: 22rem;
  }

  .aboutme-contener {
    background-color: #262626;
    background-image: url("image/back-d.png");
    background-repeat: no-repeat;
    background-position: right 16%;
    background-size: 35% 35%;
    height: 62.5rem;
  }

  /* About Me */

  .aboutme-desktop {
    display: flex;
    flex-direction: column;
    margin-left: 8.9375rem;
    width: 30%;
  }

  .aboutme-img {
    width: 12.5rem;
    margin-top: 8.25rem;
  }

  .text-aboutme {
    position: static;
    width: 35.375rem;
    height: 9.25rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #f4f5f7;
  }

  .resume-button {
    position: static;
    width: 10.0625rem;
    height: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #ff6b00;
    border: none;
    margin-bottom: 9.625rem;
  }

  .line-image {
    display: none;
  }

  .line-image2 {
    width: 72.25rem;
    margin-left: 5.3125rem;
    height: 9px;
    color: #505f79;
    margin-bottom: 7.5rem;
  }

  .language {
    margin-left: 12.125rem;
  }

  .languge-list {
    margin-left: 10rem;
    color: #fff;
    list-style-type: none;
    position: static;
    width: 7.125rem;
    height: 1.5rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 2.6875rem;
  }

  .frameworks {
    margin-left: 37.125rem;
    margin-top: -6.875rem;
  }

  .frameworks-list {
    margin-left: 34.875rem;
    color: #fff;
    list-style-type: none;
    position: static;
    width: 10.125rem;
    height: 1.5rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 2.6875rem;
  }

  .skill {
    margin-left: 64.25rem;
    margin-top: -5.625rem;
  }

  .skill-list {
    margin-left: 62.1875rem;
    color: #fff;
    list-style-type: none;
    width: 114px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    margin-bottom: 18.75rem;
    background-color: #262626;
  }

  /* Form section */

  form {
    background-image: url("image/formimagedesctop.png");
    background-repeat: no-repeat;
    background-position: 11% 0%;
    background-size: 35% 50%;
  }

  .form-list {
    display: flex;
    flex-direction: column;
    margin-left: 39.375rem;
    margin-top: 8.25rem;
    width: 32rem;
    list-style-type: none;
    height: 8.4375rem;
  }

  .form-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.375rem;
  }

  .form-name-img {
    margin-top: 0.9375rem;
  }

  input {
    outline: none;
    border: none;
  }

  .form-email {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.375rem;
  }

  .useremail-img {
    margin-top: 0.9375rem;
  }

  .text-area {
    width: 32rem;
    background: #fbf8f7;
    border: none;
    outline: none;
  }

  .submit-button {
    margin-left: 41.9375rem;
    margin-top: 10.9375rem;
    height: 3rem;
    background-color: #ff6b00;
    color: #f4f5f7;
    border: none;
    width: 7.625rem;
    margin-bottom: 10.375rem;
    box-shadow: inset 0 0 0 0 forestgreen;
    transition: ease-in 0.5s;
  }

  .submit-button:hover {
    box-shadow: inset 7.625rem 7.625rem 7.625rem 7.625rem #ff6b00;
  }

  .image-form {
    display: none;
  }

  .footer-line {
    display: none;
  }

  .footer-line-desktop {
    height: 0.1875rem;
  }

  .social-form {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }

  .social-form-item {
    margin-right: 1.3125rem;
  }
}
